.modalContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.closeButton {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1.5em;

    background: transparent;
    border: none;
    cursor: pointer;
    color: #000;
}

.closeButton:hover {
    color: #3384ff;
}