.formContainer {
    display: flex;
    flex-direction: column;
}

label {
    color: gray;
    font-size: 0.8em;
    text-transform: uppercase;
    padding-bottom: 0.5em;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #000000;
}

.textEditor {
    border: 1px solid rgba(255,255,255,0);
    border-radius: 5px;
    background: rgba(149, 149, 149, 0.09);
    min-width: 400px;
    min-height: 200px;
}

input:focus, .textEditor:focus {
    outline: none;
    border-color: #1a81e8;
}


